*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background-color: wheat;
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: absolute;
    top: 0; left: 0; right: 0;
    background-color: chocolate;
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

}

#menu-btn{
    display: none;
    font-size: 2.5rem;
    color: wheat;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.68);
}
.header .flex .logo span{
    color: yellow;
}

.header .flex .navbar a{
    display: flex;
    color: wheat;
    font-size: 1.8rem;
    padding: 1rem 1rem;
    z-index: 1000;
}

.header .flex .navbar a:hover{
    color: rgba(245, 222, 179, 0.75);
    font-size: 1.8rem;
}

.header .flex .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    gap: 1.5rem;
    z-index: 2;
}
.home{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.home .photos h3{
    border-radius: .4rem;
    padding: .5rem;
    font-size: 2.6rem;
    background-color: chocolate;
    color: wheat;
}
.home .photos{
    padding: 0 1rem;
    width: 60%;
}

.home .photos .image-slider{
    margin-top: 2rem;
}

.home .photos .image-slider img{
    width: 100%;
}

.home .extra{
    display: inline-block;
    width: 40%;
}

.home .extra h3{
    border-radius: .4rem;
    padding: .5rem;
    font-size: 2.6rem;
    background-color: chocolate;
    color: wheat;
}


.extra-img .img-grid img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.extra-img .img-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-img{
    margin-top: 2rem;
    display: flex;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    grid-auto-flow: dense;
}

.about .photo{
    padding: 0 1rem;
}
.about h3 {
    border-radius: .4rem;
    padding: .5rem;
    font-size: 2.6rem;
    background-color: chocolate;
    color: wheat;
}



.about .photo .box img {
    width: 100%;
    height: 100%;
}
.about .photo .image-slider{
    margin-top: 2rem;
}

/*@media query*/


@media (max-width: 991px) {

    html{
        font-size: 55%;
    }

    .header .flex #menu-btn{
        display: block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%; left: 0;
        right: 0;
        background-color: rgba(210, 105, 30, 0.61);
        flex-flow: column;
        padding: 1rem 0.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    .header .flex .navbar a{
        display: inline-block;
        width: 100%;
        padding: 1rem .5rem;
        text-align: center;
    }



    .home .extra h3{
        font-size: 2rem;
    }
    .home .photos h3{
        font-size: 2rem;
    }

}


@media (max-width: 761px) {


    .home .box img{
        height: 40vh;
    }



    .home{
        margin-top: 10rem;
        display: block;
    }

    .home .photos{
        padding: 0 1rem;
        width: 100%;
    }

    .home .extra{
        margin-top: 2rem;
        padding: 0 1rem;
        width: 100%;
    }


}

@media (max-width: 450px) {


    .header .flex .navbar{
        width: 100%;
    }

    .header .flex .logo{
        font-size: 2rem;
    }

    .home .photos .image-slider{
        height: 100%;
    }
}